.todo-tasks {
   width: 300px;
   height: flex;
}
.inProgress-tasks {
  width: 300px;
  height: flex;
  border-color: green;
}
.done-tasks {
  width: 300px;
  height: flex;
}

.difficulty {
  font-style: italic;
  border-color: blue;
  font-size: small;
}

